html, head, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 0;
  margin: 0px;
  padding: 0px;
  background-color: var(--fundocolor);
  color: #000;
  text-shadow: -1px 0 #b8b5b5, 0 1px #b8b5b5, 1px 0 #b8b5b5, 0 -1px #b8b5b5;
  font-family: sans-serif;
  font-size: 16px;
  position: absolute;
background-color: #ddd7e0;

}

#head {
  width: 100%;
  height: 45px;
  background-color: #000;
  position: absolute;
}

#logo {
  width: 20%;
  height: 45px;
  position: absolute;
  text-align: center;
}

.backgroundEscuro {
    background-color: rgba(0, 0, 0, 0.9 );
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #431758, #ad3030, #851212); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #431758, #ad3030, #851212); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #431758, #ad3030, #851212); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #431758, #ad3030, #851212); /* Standard syntax (must be last) */
    border-bottom: 1px solid #000;
}

#menu_cabecalho {
  width: 80%;
  height: 45px;
  position: absolute;
  top:0px;
  right: 0px;
  color:#fff;
  text-shadow: 1px 1px 2px black, 1px 1px 4px #ff1;
}

#menu_cabecalho * {
  text-decoration: none;
  color: #fff;
}

#menu_cabecalho ul {
  list-style-type: none;
}


#logo img {
  margin-top: 10px;
  cursor: pointer;
}

#menu_cabecalho ul li {
  display: inline;
  margin-left: 20px;
}

.formulario {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 49%;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 5px 0px #000, -5px -5px 0px #acd;
}

.formulario form label {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  height: 20px;
  padding: 8px 0px 5px 0px;
  width: 26%;
  padding-left: 10px;
  margin-bottom: 0px;
  background-color: #aab;
  color: #fff;
  text-shadow: 2px 2px 0px #000, 0px 0px 5px #000;
}

.formulario form input, form select {
  font-size: 0.9rem;
  font-family: cursive;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 33px;
  width: 60%;
}

.formularios {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width:90%;
  min-height: 100%;
}

.form-cadastro {
  width: 49%;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.95rem;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 5px 0px #000, -5px -5px 0px #acd;
}

.form-cadastro form label {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  height: 20px;
  padding: 8px 0px 5px 0px;
  width: 26%;
  padding-left: 10px;
  margin-bottom: 0px;
  background-color: #aab;
  color: #fff;
  text-shadow: 2px 2px 0px #000, 0px 0px 5px #000;
}

.form-cadastro form input {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 20px;
  height: 33px;
  font-size: 0.9rem;
  font-family: cursive;
  width: 60%;
}

.form-cadastro p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  word-wrap: break-word;
  text-indent: 0px;
  font-size: 0.9rem;
}

.form-cadastro-h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 25px;
  font-size: 1.1rem;
  margin-left: 15px;
  padding-right: 0px;
  color: #fff;
  width: 90%;
  height: 25px;
  background-color: #acd;
  text-shadow: 2px 2px 0px #000, 0px 0px 5px #000;
}

.formulario1 ul li {
  display: block;
  text-decoration: none;
  color: #fff;
}

.classe1 {
  position: relative;
  width: 20%;
  min-width: 126px;
  height: 20px;
  text-align: left;
}

.classe2 {
  position: relative;
  width: 80%;
  height: 20px;
  right: -20%;
  top: -22px;
}

.classe2 input {
  height: 20px;
  width: 100%;
  min-width: 200px;
  margin-left: 0%;
  border-radius: 5px;
  border: 2px solid #00ff55;
  padding-left: 5px;
  text-align: left;

}

.botao {
  cursor: pointer;
}

#menu_cabecalho ul li: hover {
  color: #ff1;
  text-shadow: 1px 1px 3px #fff, 2px 2px 3px #000;
}


.tabela1 {
  border: 2px solid #00ff55;
}

.tabela1 tr td {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#fff;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
  text-shadow: 1px 1px 3px #000, -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000;
}

.photo {
  width: 85px;
  height: 85px;
  border-radius: 10px;
    border: 2px #000 solid;
}

.esconder {
  display: none;
}

.aviso {
  border: 2px #000 solid;
  border-radius: 10px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 30%;
  height: auto;
  font-size: 1rem;
  text-shadow: 0px 0px 3px #000, 1px 1px 0px #000, -1px -1px 0px #000;
  cursor: pointer;
}

.aviso p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: center;
}

.sucesso {
  color: rgba(255, 255, 255, 0.87);
  background-color: #48e13c;
  z-index: 1;
}

.perigo {
  color: rgba(255, 255, 255, 0.87);
  background-color: #d51515;
  z-index: 1;
}

.texto {
  border: 2px solid #000;
  width: 26px;
  height: 6px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: -40px;
  cursor: pointer;
}

.table1 {
  border: 2px solid #000;
  width: 100%;
  background-color: #171;
}

.table1 th {

  background-color: #ffc;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
}

.table1 tr:nth-child(even){
	background-color: rgba(255, 255, 255, 0.8);
}

.table1 tr:nth-child(odd){
	background-color: rgba(102, 223, 241, 0.73);
}

#contenedor > table > tbody > tr > td > form {
	display: inherit;
	vertical-align: inherit;
}

.table1 td{
	vertical-align: middle;
	align-content: center;
  text-align: center;
  border-radius: 5px;
  margin-left:auto;
  margin-right:auto;
  color: #fff;
  text-shadow: 1px 1px 3px #000, -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000;
}
.sub100 {
  display: block;
  width: 98%;
  min-height: 500px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  text-shadow: none;
  color: #000;
}

.sub100 * {
  margin-left: 10px;
  margin-right: 10px;
}

.sub100 a {
  margin: 0px;
}
.sub100 div {
  margin: 20px;
}
.sub50 {
  display: inline-block;
  width: 48%;
  min-height: 600px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}

.sub50 * {
  margin-left: 10px;
  margin-right: 10px;
}

.sub50 h2 {
  text-align: center;
  color: #000;
  text-decoration: underline #171;
}

#conteudo {
  margin-top: 45px;
  width: 100%;
  min-height: 70%;

}

#contenedor {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  min-height: 70%;


}
#contenedor form p {
  width: 100%;
}
#contenedor form p input {
  border: 2px solid #00ff55;
  align-content: stretch;
  width: auto;
}

:root {
  --fundocolor: #bc8dc6;
  /*--fundocolor: rgba(255, 255, 17, 1);*/ /* igual a #ff1*/
}
